<!DOCTYPE html>
<html>

<head>
    <title>
        Film and Tv
    </title>

    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:ital@1&family=Montserrat:ital,wght@0,100;0,400;0,600;0,700;0,800;1,100;1,600;1,700&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- <link rel='stylesheet' href='/stylesheets/headshots.css' /> -->
    <link rel="stylesheet" href='/stylesheets/films-tv.css'>
    <script src="https://kit.fontawesome.com/d4fe87d88c.js" crossorigin="anonymous"></script>
    <script src="../javascripts/films-tv.js"></script>
    <script src="../javascripts/navbarSelect.js"></script>

</head>



<body>


    <div id="background-image">
    </div>



    <section id="main-section">
        <div id="lateral-navbar" style="display:none">
            <div class="Lateral-nav-container">
                <div id="emptyDiv">

                </div>
                <div id="lateral-menu-navbar" class="noDisplay">
                    <ul class="white-color">
                        <a a href="/headshots">
                            <li class="lateral-headshots-link">My headshots !</li>
                        </a>
                        <a href="/myStory">
                            <li>My story</li>
                        </a>
                        <a href="/film&Tv">
                            <li>Film & TV</li>
                        </a>
                        <a href="/myResume">
                            <li>Resume</li>
                        </a>
                        <a href="/contact">
                            <li>Let's talk</li>
                        </a>

                    </ul>
                </div>
            </div>

            <div class="Lateral-links-container">
                <div id="lateral-menu-links" class=" noDisplay">
                    <div class="text-center social-links">
                        <i class="fa-brands fa-xl fa-instagram"></i>
                        <!-- <i class="fa-brands fa-xl fa-linkedin"></i> -->
                        <i class="fa-brands fa-xl fa-twitter"></i>
                        <i class="fa-solid fa-xl fa-envelope"></i>
                    </div>
                    <div id="copyright" class="white-color">© 2022 Desiged & built by Martin Zazpe</div>
                </div>
            </div>
        </div>

        <div id="left-container">
            <div id="labor-union" class="italic">Film & Tv</div>
            <header>
                <div class="title-major-container">
                    <div id="title-container">
                        <div id="name" class="font22"><span class="bold-text">Xavier</span> Rivera-Hurtado</div>
                        <ul id="navbar-tablet" class="noDisplay">
                            <a href="/headshots">
                                <li>My headshots</li>
                            </a>
                            <a href="/myStory">
                                <li>My story</li>
                            </a>
                            <a href="/film&Tv">
                                <li>Film & TV</li>
                            </a>
                            <a href="/myResume">
                                <li>Resume</li>
                            </a>
                            <a href="/contact">
                                <li>Let's talk</li>
                            </a>
                        </ul>
                    </div>
                </div>
                <div class="hambmenu-container">
                    <div id="hamburguer-menu">
                        <span class="bar1"></span>
                        <span class="bar2"></span>
                        <span class="bar3"></span>
                    </div>
                </div>
            </header>
            <div class="social-links-tablet text-center noDisplay">
                <i class="fa-brands fa-xl fa-instagram"></i>
                <!-- <i class="fa-brands fa-xl fa-linkedin"></i> -->
                <i class="fa-brands fa-xl fa-twitter"></i>
                <i class="fa-solid fa-xl fa-envelope"></i>
            </div>
        </div>


        <div id="right-container">

            <!-- <div id="title">
                <p>Click play on any video!</p>
            </div> -->

            <!-- <h3 id="view-title">Film & Tv</h3> -->

            <div id="works-container">
                <!-- <div id="main-project">
                    <p><span>Clerk - </span>
                        <span id="hbo-max">HBO Max</span> Gordita Chronicles
                    </p>
                    <div>
                        <video id="gorditaChroniclesVid" poster="../images/works/GorditaXavi3.png" controls playsinline preload="auto" muted codecs="vp8.0, vorbis">
                            <source src="../images/works/gorditaChronicles.mp4" type='video/mp4'>
                            Your browser does not support HTML5 video.
                        </video>
                    </div>
                </div> -->
                <div id="other-projects">

                    <div class="project">
                        <p><span>Clerk - </span>
                            <span id="hbo-max">HBO Max</span> Gordita Chronicles
                        </p>
                        <div style="width: 100%; height: 0px; position: relative; padding-bottom: 56.250%;"><iframe src="https://streamable.com/e/qy85z7" frameborder="0" width="100%" height="100%" allowfullscreen style="width: 100%; height: 100%; position: absolute;"></iframe></div>
                        <!-- <video id="gorditaChroniclesVid" poster="../images/works/GorditaXavi3.png" controls playsinline  codecs="vp8.0, vorbis">
                            <source src="../images/works/gorditaChronicles.mp4" type='video/mp4'>
                            Your browser does not support HTML5 video.
                        </video> -->
                    </div>

                    <div class="project">
                        <p>Reel</p>
                        <div style="width: 100%; height: 0px; position: relative; padding-bottom: 56.250%;"><iframe src="https://streamable.com/e/5544pd" frameborder="0" width="100%" height="100%" allowfullscreen style="width: 100%; height: 100%; position: absolute;"></iframe></div>
                        <!-- <video id="project-vid" controls playsinline codecs="vp8.0, vorbis">
                            <source src="../images/works/reel.mp4" type='video/mp4'>
                            Your browser does not support HTML5 video.
                        </video> -->
                    </div>

                    <div class="project">
                        <p>Counselor</p>
                        <div style="width: 100%; height: 0px; position: relative; padding-bottom: 56.250%;"><iframe src="https://streamable.com/e/xw6a9d" frameborder="0" width="100%" height="100%" allowfullscreen style="width: 100%; height: 100%; position: absolute;"></iframe></div>
                        <!-- <video id="project-vid" controls playsinline codecs="vp8.0, vorbis">
                            <source src="../images/works/the-wire.mp4" type='video/mp4'>
                            Your browser does not support HTML5 video.
                        </video> -->
                    </div>
                    <div class="project">
                        <p>Confession</p>
                        <div style="width: 100%; height: 0px; position: relative; padding-bottom: 56.250%;"><iframe src="https://streamable.com/e/q2s8jc" frameborder="0" width="100%" height="100%" allowfullscreen style="width: 100%; height: 100%; position: absolute;"></iframe></div>
                        <!-- <video id="project-vid" controls playsinline codecs="vp8.0, vorbis">
                            <source src="../images/works/man-monologue.mp4" type='video/mp4'>
                            Your browser does not support HTML5 video.
                        </video> -->
                    </div>
                    <div class="project">
                        <p>El incidente</p>
                        <div style="width: 100%; height: 0px; position: relative; padding-bottom: 56.250%;"><iframe src="https://streamable.com/e/gy6hwz" frameborder="0" width="100%" height="100%" allowfullscreen style="width: 100%; height: 100%; position: absolute;"></iframe></div>
                        <!-- <video id="project-vid" controls playsinline codecs="vp8.0, vorbis">
                            <source src="../images/works/el-incidente.mp4#t=0.1" type='video/mp4'>
                            Your browser does not support HTML5 video.
                        </video> -->
                    </div>
                </div>

            </div>





        </div>

        <footer>
            <div class="social-links text-center">
                <a href="https://www.instagram.com/xavisays93/" target="_blank"><i class="fa-brands fa-xl fa-instagram"></i></a>
                <a href="http://twitter.com/actorxavisays"><i class="fa-brands fa-xl fa-twitter"></i></a>
                <a href="mailto:xavier.actor93@gmail.com?subject=Hi Xavier, let´s get in touch!" target="_blank"><i class="fa-solid fa-xl fa-envelope"></i></a>
            </div>
            <div id="copyright" class="white-color"> © 2022 Desiged & built by Martin Zazpe. All rights reserved</div>
        </footer>

    </section>


</body>

</html>