<!DOCTYPE html>
<html>

<head>
  <title>
    Home
  </title>

  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Alegreya:ital@1&family=Montserrat:ital,wght@0,100;0,400;0,600;0,700;0,800;1,100;1,600;1,700&display=swap" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/home.css' />
  <script src="https://kit.fontawesome.com/ae0153af6c.js" crossorigin="anonymous"></script>
  <script src="../javascripts/home.js"></script>
</head>



<body>


  <div id="background-image">
  </div>




  <section id="main-section">
    <div id="lateral-navbar" style="display:none">
      <div class="Lateral-nav-container">
        <div class="hambmenu-container-navbar">
          <div id="hamburguer-menu-navbar">
            <span class="bar1-nav"></span>
            <span class="bar2-nav"></span>
            <span class="bar3-nav"></span>
          </div>
        </div>
        <div id="lateral-menu-navbar" class="noDisplay">
          <ul class="white-color">
            <li class="lateral-headshots-link"><a href="/headshots"></a>My headshots !</li>
            <li><a href="#"></a>My story</li>
            <li><a href="#"></a>Film & TV</li>
            <li><a href="#"></a>Resume</li>
            <li><a href="#"></a>Let's talk</li>
          </ul>
        </div>
      </div>
      <div class="Lateral-links-container">
        <div id="lateral-menu-links" class=" noDisplay">
          <div class="text-center social-links">
            <i class="fa-brands fa-xl fa-instagram"></i>
            <i class="fa-brands fa-xl fa-linkedin"></i>
            <i class="fa-brands fa-xl fa-twitter"></i>
            <i class="fa-solid fa-xl fa-envelope"></i>
          </div>
          <div id="copyright" class="white-color">© 2022 Desiged & built by Martin Zazpe</div>
        </div>
      </div>
    </div>

    <div id="left-container">
      <header>
        <div class="title-major-container">
          <div id="title-container">
            <div id="name" class="white-color font22"><span class="bold-text">Xavier</span> Rivera-Hurtado</div>
            <div id="labor-union" class=" white-color italic">SAG-AFTRA</div>
            <ul id="navbar-tablet" class="noDisplay">
              <li><a href="/headshots">My headshots!</a></li>
              <li><a href="#"></a>My story</li>
              <li><a href="#"></a>Film & TV</li>
              <li><a href="#"></a>Resume</li>
              <li><a href="#"></a>Let's talk</li>
            </ul>
          </div>
        </div>
        <div class="hambmenu-container">
          <div id="hamburguer-menu">
            <span class="bar1"></span>
            <span class="bar2"></span>
            <span class="bar3"></span>
          </div>
        </div>
      </header>
      <div id="main-content">
        <div id="headshots-jump-container">
          <div id="headshots-jump">
            <a href="/headshots" style="text-decoration:none">
              <p class="white-color text-center">Jump to my headshots!</p>
            </a>
          </div>
        </div>
      </div>
      <div class="social-links-tablet text-center noDisplay">
        <i class="fa-brands fa-xl fa-instagram"></i>
        <i class="fa-brands fa-xl fa-linkedin"></i>
        <i class="fa-brands fa-xl fa-twitter"></i>
        <i class="fa-solid fa-xl fa-envelope"></i>
      </div>
    </div>


    <div id="right-container">
      <div id="desktop-landing-images">
        <img src='../images/background/bg-image.jpg' alt="">
        <img id="resImage1200" class="noDisplay" src='../images/background/2C.jpg' alt="">
        <img src='../images/background/1C.jpg' alt="">
        <img src='../images/background/3C.jpg' alt="">
      </div>

      <footer>
        <div class="social-links text-center">
          <i class="fa-brands fa-xl fa-instagram"></i>
          <i class="fa-brands fa-xl fa-linkedin"></i>
          <i class="fa-brands fa-xl fa-twitter"></i>
          <i class="fa-solid fa-xl fa-envelope"></i>
        </div>
        <div id="copyright" class="white-color">© 2022 Desiged & built by Martin Zazpe</div>
      </footer>
    </div>
  </section>


</body>

</html>