<!DOCTYPE html>
<html>

<head>
  <title>
    🏠 Home
  </title>

  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Alegreya:ital@1&family=Montserrat:ital,wght@0,100;0,400;0,600;0,700;0,800;1,100;1,600;1,700&display=swap" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/home.css' />
  <script src="https://kit.fontawesome.com/d4fe87d88c.js" crossorigin="anonymous"></script>
  <script src="../javascripts/home.js"></script>
  <script src="../javascripts/navbarSelect.js"></script>
</head>



<body>


  <div id="background-image">
  </div>



  <section id="main-section">
    <div id="lateral-navbar" style="display:none">
      <div class="Lateral-nav-container">
        <div id="emptyDiv">

        </div>
        <div id="lateral-menu-navbar" class="noDisplay">
          <ul class="">

            <a href="/headshots">
              <li class="lateral-headshots-link">My headshots !</li>
            </a>
            <a href="/myStory">
              <li>My story</li>
            </a>
            <a href="/film&Tv">
              <li>Film & TV</li>
            </a>
            <a href="/myResume">
              <li>Resume</li>
            </a>
            <a href="/contact">
              <li>Let's talk</li>
            </a>
          </ul>
        </div>
      </div>
      <div class="Lateral-links-container">
        <div id="lateral-menu-links" class=" noDisplay">
          <div class="text-center social-links">
            <a href="https://www.instagram.com/xavisays93/" target="_blank"><i class="fa-brands fa-xl fa-instagram"></i></a>
            <!-- <a href="https://www.linkedin.com/in/xavier-rivera-hurtado/" target="_blank"><i class="fa-brands fa-xl fa-linkedin"></i></a> -->
            <a href="#"><i class="fa-brands fa-xl fa-twitter"></i></a>
            <a href="mailto:xavier.actor93@gmail.com?subject=Hi Xavier, let´s get in touch!" target="_blank"><i class="fa-solid fa-xl fa-envelope"></i></a>
          </div>
          <div id="copyright" class="white-color">© 2022 Desiged & built by Martin Zazpe</div>
        </div>
      </div>
    </div>

    <div id="left-container">
      <div id="labor-union" class="italic">SAG-AFTRA</div>
      <header>
        <div class="title-major-container">
          <div id="title-container">
            <div id="name" class="font22"><span class="bold-text">Xavier </span> Rivera-Hurtado</div>
            <ul id="navbar-tablet" class="noDisplay">
              <a href="/headshots">
                <li>My headshots</li>
              </a>
              <a href="myStory">
                <li>My story</li>
              </a>
              <a href="/film&Tv">
                <li>Film & TV</li>
              </a>
              <a href="/myResume">
                <li>Resume</li>
              </a>
              <a href="/contact">
                <li>Let's talk</li>
              </a>
            </ul>
          </div>
        </div>
        <div class="hambmenu-container">
          <div id="hamburguer-menu">
            <span class="bar1"></span>
            <span class="bar2"></span>
            <span class="bar3"></span>
          </div>
        </div>
      </header>
      <div class="social-links-tablet text-center noDisplay">
        <a href="https://www.instagram.com/xavisays93/" target="_blank"><i class="fa-brands fa-xl fa-instagram"></i></a>
        <!-- <a href="https://www.linkedin.com/in/xavier-rivera-hurtado/" target="_blank"><i class="fa-brands fa-xl fa-linkedin"></i></a> -->
        <a href="http://twitter.com/actorxavisays"><i class="fa-brands fa-xl fa-twitter"></i></a>
        <a href="mailto:xavier.actor93@gmail.com?subject=Hi Xavier, let´s get in touch!" target="_blank"><i class="fa-solid fa-xl fa-envelope"></i></a>
      </div>
    </div>


    <div id="right-container">
      <div id="main-content">
        <div id="headshots-jump-container">
          <div id="headshots-jump">
            <a href="/headshots" style="text-decoration:none">
              <p class="white-color text-center">Jump to my headshots!</p>
            </a>
          </div>
        </div>
      </div>
      <div id="desktop-landing-images">
        <img src='../images/background/bg-image.jpg' alt="">
        <img id="resImage1200" class="noDisplay" src='../images/background/2C.jpg' alt="">
        <img src='../images/background/1C.jpg' alt="">
        <img src='../images/background/3C.jpg' alt="">
      </div>


    </div>
    <footer>
      <div class="social-links text-center">
        <a href="https://www.instagram.com/xavisays93/" target="_blank"><i class="fa-brands fa-xl fa-instagram"></i></a>
        <!-- <a href="https://www.linkedin.com/in/xavier-rivera-hurtado/" target="_blank"><i class="fa-brands fa-xl fa-linkedin"></i></a> -->
        <a href="http://twitter.com/actorxavisays"><i class="fa-brands fa-xl fa-twitter"></i></a>
        <a href="mailto:xavier.actor93@gmail.com?subject=Hi Xavier, let´s get in touch!" target="_blank"><i class="fa-solid fa-xl fa-envelope"></i></a>
      </div>
      <div id="copyright" class="white-color"> © 2022 Desiged & built by Martin Zazpe. All rights reserved</div>
    </footer>
  </section>


</body>

</html>