<!DOCTYPE html>
<html>

<head>
    <title>
        Resume preview
    </title>

    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:ital@1&family=Montserrat:ital,wght@0,100;0,400;0,600;0,700;0,800;1,100;1,600;1,700&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/resume.css' />
    <script src="https://kit.fontawesome.com/d4fe87d88c.js" crossorigin="anonymous"></script>
    <script src="../javascripts/myStory.js"></script>
    <script src="../javascripts/navbarSelect.js"></script>

</head>



<body>


    <div id="background-image">
    </div>




    <section id="main-section">
        <div id="lateral-navbar" style="display:none">
            <div class="Lateral-nav-container">
                <div class="hambmenu-container-navbar">
                    <div id="hamburguer-menu-navbar">
                        <span class="bar1-nav"></span>
                        <span class="bar2-nav"></span>
                        <span class="bar3-nav"></span>
                    </div>
                </div>
                <div id="lateral-menu-navbar" class="noDisplay">
                    <ul class="white-color">
                        <a a href="/headshots">
                            <li class="lateral-headshots-link">My headshots !</li>
                        </a>
                        <a href="/myStory">
                            <li>My story</li>
                        </a>
                        <a href="/film&Tv">
                            <li>Film & TV</li>
                        </a>
                        <a href="/myResume">
                            <li>Resume</li>
                        </a>
                        <a href="/contact">
                            <li>Let's talk</li>
                        </a>

                    </ul>
                </div>
            </div>

            <div class="Lateral-links-container">
                <div id="lateral-menu-links" class=" noDisplay">
                    <div class="text-center social-links">
                        <i class="fa-brands fa-xl fa-instagram"></i>
                        <!-- <i class="fa-brands fa-xl fa-linkedin"></i> -->
                        <i class="fa-brands fa-xl fa-twitter"></i>
                        <i class="fa-solid fa-xl fa-envelope"></i>
                    </div>
                    <div id="copyright" class="white-color">© 2022 Desiged & built by Martin Zazpe</div>
                </div>
            </div>
        </div>

        <div id="left-container">
            <div id="labor-union" class=" white-color italic">Resume -&nbsp <a href="/resumeDownload" target="_blank"> Click to download</a></div>
            <header>
                <div class="title-major-container">
                    <div id="title-container">
                        <div id="name" class="white-color font22"><span class="bold-text">Xavier</span> Rivera-Hurtado</div>
                        <ul id="navbar-tablet" class="noDisplay">
                            <a href="/headshots">
                                <li>My headshots</li>
                            </a>
                            <a href="/myStory">
                                <li>My story</li>
                            </a>
                            <a href="/film&Tv">
                                <li>Film & TV</li>
                            </a>
                            <a href="/myResume">
                                <li>Resume</li>
                            </a>
                            <a href="/contact">
                                <li>Let's talk</li>
                            </a>
                        </ul>
                    </div>
                </div>
                <div class="hambmenu-container">
                    <div id="hamburguer-menu">
                        <span class="bar1"></span>
                        <span class="bar2"></span>
                        <span class="bar3"></span>
                    </div>
                </div>
            </header>
            <div class="social-links-tablet text-center noDisplay">
                <i class="fa-brands fa-xl fa-instagram"></i>
                <!-- <i class="fa-brands fa-xl fa-linkedin"></i> -->
                <i class="fa-brands fa-xl fa-twitter"></i>
                <i class="fa-solid fa-xl fa-envelope"></i>
            </div>
        </div>


        <div id="right-container">

            <!-- <object data="../images/resume/XaviResume.pdf" type="application/pdf">
                <p>It appears you don't have a PDF plugin for this browser.
                    But don´t worry... you can <a href="/resumeDownload" target="_blank">click here to
                        download the PDF file.</a></p>
            </object> -->

            <div id="pdf-content">
                <div id="pdf-header">
                    <div id="left-header">
                        <p id="title">Xavier Rivera-Hurtado</p>
                        <p class="headerText">SAG/AFTRA</p>
                        <p class="headerText">xavier.actor93@gmail.com</p>
                        <p class="headerText">787-366-1461</p>
                    </div>
                    <div id="right-header">
                        <p class="rightHeaderText">Height: 5’10” Weight: 155 lbs</p>
                        <p class="rightHeaderText"> Hair: Black Eyes: Brown</p>
                    </div>
                </div>

                <div id="pdf-body">
                    <div id="left-body">
                        <div>
                            <p class="type-of-work">FILM/TV</p>
                            <p class="body-text">Gordita Chronicles</p>
                        </div>
                        <div>
                            <p class="type-of-work noShow">placeholder</p>
                            <p class="body-text">Clerk</p>
                        </div>
                        <div>
                            <p class="type-of-work noShow">placeholder</p>
                            <p class="body-text">Co-Star ( HBO MAX)</p>
                        </div>
                    </div>

                    <div id="center-body">
                        <div>
                            <p class="type-of-work">VOICE OVER</p>
                            <p class="body-text">West Side Story</p>
                            <p class="body-text">Axis Sally</p>
                        </div>
                        <div>
                            <p class="type-of-work noShow">placeholder</p>
                            <p class="body-text">Bernardo & Sharks</p>
                            <p class="body-text">Background/Multiple</p>
                        </div>
                        <div>
                            <p class="type-of-work noShow">placeholder</p>
                            <p class="body-text">Disney WMFH Dubbing</p>
                            <p class="body-text">Vertical Entertainment</p>
                        </div>
                    </div>
                    <div id="right-body">
                        <div>
                            <p class="type-of-work w100">THEATRE</p>
                            <p class="body-text">The Actor’s Project (TAP) NYC</p>
                            <p class="body-text">Much Ado About Nothing</p>
                            <p class="body-text">Tartuffe</p>
                            <p class="body-text">The Heidi Chronicles</p>
                            <p class="body-text">Act One</p>
                        </div>
                        <div>
                            <p class="type-of-work noShow">placeholder</p>
                            <p class="body-text">Defense/Thief/Priest</p>
                            <p class="body-text">Don Pedro</p>
                            <p class="body-text">Laurent</p>
                            <p class="body-text">Peter</p>
                            <p class="body-text">Jean-Claude</p>
                        </div>
                        <div>
                            <p class="type-of-work noShow">placeholder</p>
                            <p class="body-text">Off-Broadway NYC</p>
                            <p class="body-text">Mainstage Theatre NYC</p>
                            <p class="body-text">Mainstage Theatre NYC</p>
                            <p class="body-text">Mainstage Theatre NYC</p>
                            <p class="body-text">Black Box Theatre PR</p>
                        </div>
                    </div>

                </div>
                <div id="pdf-footer">
                    <div>
                        <p class="type-of-work">COMMERCIALS</p>
                        <p class="type-of-work list-title"> -- List Available on Request -- </p>
                    </div>
                    <div>
                        <div id="training-div">
                            <p class="type-of-work">TRAINING</p>
                        </div>
                        <div>
                            <p class="body-text">Acting with the Breath</p>
                            <p class="body-text">Carol Fox Prescoot</p>
                            <p class="body-text">2020-Present</p>
                        </div>
                        <div>
                            <p class="body-text">B.A Dance & Theater -Manhattanville College 2015</p>
                        </div>
                    </div>
                    <div id="skills-div">
                        <p class="type-of-work skills-left">SKILLS</p>
                        <p class="body-text"> Native Spanish Speaker</p>
                        <p class="body-text">Improvisation, Stand-Up Comedy, Dance (Salsa, Merengue, Bachata) Sports (Tennis, Basketball, Boxing, Billiards)</p>
                    </div>
                </div>
            </div>

            <!-- <img src="../images/resume/resume.png" width="100%" height="auto" alt="resume"> -->

            <!-- <embed src="../images/resume/XaviResume.pdf#toolbar=0" width="500" height="375"> (Disable toolbar) -->
            <!-- <embed src="../images/resume/XaviResume.pdf#toolbar=0&navpanes=0&scrollbar=0&statusbar=0&messages=0&scrollbar=0" width="425" height="425" /> -->

            <!-- <iframe src="../images/resume/XaviResume.pdf#toolbar=0&navpanes=0&scrollbar=0" frameborder="0" id="iframe2" style="width:100%;height:100%"> -->
            <!-- </iframe> -->

            <!-- <embed id="frPDF" height="100%" width="100%" src="../images/resume/XaviResume.pdf#toolbar=0&navpanes=0&scrollbar=0"></embed> -->

        </div>

        <footer>
            <div class="social-links text-center">
                <a href="https://www.instagram.com/xavisays93/" target="_blank"><i class="fa-brands fa-xl fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-xl fa-twitter"></i></a>
                <a href="mailto:xavier.actor93@gmail.com?subject=Hi Xavier, let´s get in touch!" target="_blank"><i class="fa-solid fa-xl fa-envelope"></i></a>
            </div>
            <div id="copyright" class="white-color"> © 2022 Desiged & built by Martin Zazpe. All rights reserved</div>
        </footer>

    </section>


</body>

</html>