#background-image {
    background: url('../../images/background/bg-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    visibility: visible;
    filter: blur(2.5px);
    opacity: 0.8;
}

#title-container {
    color: #CCC1C1
}

#right-container {
    display: flex;
    justify-content: center;
}

#contact-container {
    align-self: center;
    width: 70%;
    height: 350px;
    border-radius: 15px;
    background-color: rgba(217, 217, 217, 0.6);
    text-align: center;
}

#contact-links {
    display: flex;
    flex-flow: column wrap;
    margin-left: auto;
    justify-content: space-evenly;
    align-content: center;
    align-items: baseline;
    height: 60%;
}

a i {
    color: rgb(32, 116, 71);
}

a {
    color: rgb(33, 77, 50);
    transition: 0.3s linear;
}


a:hover {
    transform: scale(1.05);
}

.social-links {
    display: none
}

#labor-union {
    color: white !important;
    font-weight: bold;
}


@media (min-width: 600px) {

    .social-links {
        display: inherit;
        height: 40px;
    }

    #contact-container {
        height: 400px;
        background-color: rgba(192, 223, 190, 0.4);
    }

    footer {
        display: Flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
    }

    .social-links {
        height: 40px;
        justify-content: center;
    }

    #background-image {
        background: linear-gradient(#000902, #4d935e);
    }

    a {
        color: rgba(1, 46, 21, 0.529);
        transition: 0.3s linear;
    }
}


@media (min-width:992px) {
    #main-section {
        height: 100vh;
    }

    #contact-container {
        width: 40%;
    }
}