* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    width: 100%;
    /* viewport-fit: cover; */
    /* --ion-safe-area-top: env(safe-area-inset-top);
  --ion-safe-area-bottom: env(safe-area-inset-bottom); */
    position: relative;
}



#hambmenu-container-navbar {
    display: none;
}


#background-image {
    margin: 0;
    position: absolute;
    background: linear-gradient(#000902, #4d935e);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    width: 100vw;
    height: 100vh;
    visibility: visible;
    opacity: 1;
}


#main-section {
    display: flex;
    flex-flow: column wrap;
    height: 100vh;
    position: relative;
    /* overflow: hidden; */
}


#right-container {
    height: 80vh;
    width: 100%;
}

#left-container {
    width: 100%;
    height: 20vh;
}



/* headshots */



/* for enlarge this looked good */
/* #headshot-image-container {
    width: 100%;
    height: 100%;
} */


#headshots-container {
    width: 100%;
    height: 100%;
    display: Flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    overflow: scroll;
    scroll-behavior: initial;
}

#headshots-container>* {
    margin: 5px;
}

#headshot-image-container1 {
    background-position: top;
    /* width: 500px;
    height: 300px; */
    background: url("../../images/headshots/headshot1.jpg");
    background-size: cover;
    border-radius: 3px;
    width: 35vw;
    height: 182px;
    /* max-height: 160px; */
}

#headshot-image-container2 {
    background-position: top;
    background-image: url("../images/headshots/headshot2.jpg");
    background-size: cover;
    border-radius: 3px;
    width: 35vw;
    height: auto;
    height: 182px;
    /* max-height: 160px; */
}


#headshot-image-container3 {
    background-position: top;
    background-image: url("../images/headshots/headshot3.jpg");
    background-size: cover;
    border-radius: 3px;
    width: 35vw;
    height: auto;
    height: 182px;
    /* max-height: 160px; */
}

#headshot-image-container4 {
    background-position: top;
    background-image: url("../images/headshots/headshot4.jpg");
    background-size: cover;
    border-radius: 3px;
    width: 35vw;
    height: auto;
    height: 182px;
    /* max-height: 160px; */
}

#headshot-image-container5 {
    background-position: top;
    background-image: url("../images/headshots/headshot5.jpg");
    background-size: cover;
    border-radius: 3px;
    width: 35vw;
    height: auto;
    height: 182px;
    /* max-height: 160px; */
}

#headshot-image-container6 {
    background-position: top;
    background-image: url("../images/headshots/headshot6.jpg");
    background-size: cover;
    border-radius: 3px;
    width: 35vw;
    height: auto;
    height: 182px;
    /* max-height: 160px; */
}

#headshot-image-container7 {
    background-position: top;
    background-image: url("../images/headshots/headshot7.jpg");
    background-size: cover;
    border-radius: 3px;
    width: 35vw;
    height: auto;
    height: 182px;
    /* max-height: 160px; */
}

#headshot-image-container8 {
    background-position: top;
    background-image: url("../images/headshots/headshot8.jpg");
    background-size: cover;
    border-radius: 3px;
    width: 35vw;
    height: auto;
    height: 182px;
    /* max-height: 160px; */
}

#headshot-image-container9 {
    background-position: top;
    background-image: url("../images/headshots/headshot9.jpg");
    background-size: cover;
    border-radius: 3px;
    width: 35vw;
    height: auto;
    height: 182px;
    /* max-height: 160px; */
}

#headshot-image-container10 {
    background-position: top;
    background-image: url("../images/headshots/headshot10.jpg");
    background-size: cover;
    border-radius: 3px;
    width: 35vw;
    height: auto;
    height: 182px;
    /* max-height: 160px; */
}


/* #headshot-image-container img {
    border-radius: 3px;
    width: 40vw;
    height: auto;
    max-height: 160px;
} */



header {
    height: 150px;
    display: flex;
    flex-flow: column row;
    justify-content: space-between;
}


.title-major-container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.hambmenu-container {
    width: 20%;
    display: flex;
    flex-wrap: wrap;
}

.title-major-container {
    justify-content: center;
    padding-left: 10px;
}

.hambmenu-container {
    justify-content: flex-end;
    padding-right: 10px;
}



#title-container {
    padding: 30px 10px;
    display: flex;
    flex-flow: column wrap;

}

#title-container #labor-union {
    padding-top: 10px;
}

#hamburguer-menu {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: flex-end;
    position: relative;
}

#hamburguer-menu .bar1,
.bar2,
.bar3 {
    display: block;
    padding: 2px;
    margin: 4px;
    border-radius: 3px;
    width: 50px;
    height: 3px;
    background-color: #e7e1e1;
    transition: transform 0.3s linear;
}



.transformToX1 {
    transform: rotate(45deg) translate(5px, 1px);
}

.transformToX2 {
    transform: rotate(-45deg) translate(7px, -5px);
}



/* hamb menu for lat navbar */


.hambmenu-container-navbar {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    padding-right: 10px;
}

#hamburguer-menu-navbar {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: flex-end;
    position: relative;
}

#hamburguer-menu-navbar .bar1-nav,
.bar2-nav,
.bar3-nav {
    display: block;
    padding: 2px;
    margin: 4px;
    border-radius: 3px;
    width: 50px;
    height: 3px;
    background-color: #e7e1e1;
    transition: transform 0.3s linear;
}

/*   */


#desktop-landing-images {
    display: none;
}


footer {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 100px;
    background-color: transparent;
    opacity: 1;
    visibility: visible;
    transition: visibility 1s linear, opacity 1s linear;
}


.footerTransition {
    visibility: hidden !important;
    opacity: 0 !important;
}


.social-links {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
    width: 40%;
    background: linear-gradient(bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    transition: width 0.5s linear;
}

/* .social-links>* {
    color: #FFFFFF;
} */

#copyright {
    padding: 10px 0px 0px 0px;
}



#lateral-navbar {
    height: 100vh;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.7);
    /* opacity: 50%; */
    position: absolute;
    z-index: 4;
    bottom: 0;
    right: 0;
    visibility: hidden;
    transition: visibility 0.3s ease-in;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between
}



.Lateral-nav-container {
    height: 70vh;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}


.Lateral-links-container {
    height: 20vh;
    display: flex;
    flex-flow: wrap;
}


.Lateral-links-container {
    align-items: flex-end;
    padding: 10px 0px 15px 0px;
}

#lateral-menu-links {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}


#lateral-menu-navbar {
    height: 50%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

#lateral-menu-navbar ul {
    /* margin: 0px 30px; */
    margin-bottom: 0;
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

#lateral-menu-navbar ul li {
    text-align: left;
    cursor: pointer;
    padding: 20px 0px;
    width: 100%;
    /* transition: color 0.3s ease-in-out; */
}


.appearVisible {
    visibility: visible !important;
}

.w50 {
    width: 50%;
}

.noDisplay {
    display: none;
}

.noVisible {
    visibility: none;
}


.lateral-headshots-link {
    /* background: linear-gradient(bottom, rgba(28, 2, 2, 0), rgb(59, 116, 60, 1)); */
    background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0), rgb(136, 175, 126, 0.7));
    border-radius: 5px;
}






@media(max-width:599px) and (orientation: landscape) {}

@media (min-width:600px) {

    #left-container header {
        justify-content: flex-start;
    }

    #background-image {
        visibility: hidden;
        opacity: 0;
        /* background-color: #ad9e9e; */
        transition: visibility 2s linear, opacity 2s linear;
        z-index: -3;
    }

    body {
        background-color: white;
        /* background-color: #dad1d1; */
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
    }

    #lateral-navbar {
        display: none;
    }

    .hambmenu-container {
        display: none;
    }

    #headshots-jump-container {
        display: none;
    }


    #main-section {
        height: 90vh;
        width: 80vw;
        background: white !important;
        transition: width 0.5s ease-in;
        justify-content: space-between;
        /* overflow: hidden; */
    }

    #right-container {
        background: url('../images/background/bg-image.jpg');
        background-size: cover;
        height: 100vh;
        width: 50vw;
        display: flex;
        flex-flow: column row;
        align-items: flex-end;
    }



    .social-links {
        display: none;
    }

    .social-links-tablet {
        /* display: initial; */
        color: rgb(180, 174, 174);
        padding: 13px;
        display: flex;
        width: 100%;
        justify-content: center;
        position: absolute;
        bottom: 0;
    }

    .social-links-tablet>* {
        padding: 0px 5px;
    }



    #left-container {
        width: 40%;
        height: 100vh;
        display: flex;
        flex-flow: column wrap;
        position: relative;
        /* justify-content: space-between */
    }


    header {
        width: 100%;
        text-align: center;
        height: 500px;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
    }

    #navbar-tablet {
        padding: 0;
        display: initial;
    }



    #navbar-tablet li {
        border: 0.5px solid rgb(163, 159, 159);
        border-radius: 10px;
        color: black;
        list-style-type: none;
        padding: 10px;
        margin: 15px 0px;
    }

    #navbar-tablet li:hover {
        cursor: pointer;
        border-color: #6b6868;
    }

    #left-container header div div {
        color: black;
    }

    footer {
        position: initial;
        bottom: 0px;
        justify-content: flex-end;
        padding-bottom: 2px;
    }
}



@media (min-width: 992px) {

    body {
        justify-content: flex-start;
    }

    #navbar-tablet {
        /* padding: 10px; */
        width: 80vw;
        display: flex;
        flex-flow: row;
        justify-content: space-evenly;
    }

    #navbar-tablet li {
        margin: 0px 5px;
    }

    /* #navbar-tablet:hover li {
        cursor: pointer !important;
    } */

    #main-section {
        height: 100vh;
        width: 100vw;
        /* overflow: hidden; */
        flex-flow: row wrap;
        scroll-behavior: smooth;
    }

    #left-container {
        width: 100%;
        height: 20vh;
    }



    #right-container {
        height: 70vh;
        width: 100vw;
        background: none;
        /* background: url('../images/background/bg-image.jpg') left no-repeat,
            url('../images/background/2C.jpg') left no-repeat,
            url('../images/background/1C.jpg') center no-repeat,
            url('../images/background/3C.jpg') right no-repeat;
        background-size: 33%; */
        height: 100%;
        display: flex;
        /* flex-flow: column row; */
        align-items: center;
    }

    #desktop-landing-images {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    #desktop-landing-images img {
        width: 33%;
    }

    .social-links-tablet {
        width: 100%;
        position: absolute;
        right: center !important;
        top: 0;
        height: 20px;
    }

    .navbar-tablet li:hover {
        cursor: pointer;
        color: #6b6868;
    }

    footer {
        display: none;
    }
}



@media (min-width: 1200px) {

    #desktop-landing-images {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    #desktop-landing-images img {
        width: 24%;
    }

    #resImage1200 {
        display: initial;
    }
}