 /* * {
     outline: 1px solid red !important
 } */

 /* 
 * {
     box-sizing: border-box;
 }
 */

 #headshots-text {
     text-align: center;
     color: rgb(173, 159, 159);
     font-weight: 300;
     margin: 0;
 }


 footer {
     display: flex;
     flex-flow: column wrap;
     align-items: center;
     justify-content: center;
     position: fixed;
     bottom: 0px;
     width: 100%;
     height: 40px;
     background-color: transparent;
     opacity: 1;
     visibility: visible;
     transition: visibility 0.3s linear, opacity 0.3s linear;
 }

 #copyright {
     display: none;
 }


 .enlarge {
     position: absolute;
     width: 70% !important;
     height: 50% !important;
     top: 20%;
     /* left: 15%; */
     margin-left: auto;
     margin-right: auto;
 }

 .dimHeadshot {
     visibility: hidden;
     /* opacity: 0.3; */
 }


 #headshots-container {
     width: 100%;
     height: 100%;
     display: Flex;
     flex-flow: row wrap;
     justify-content: space-evenly;
     align-items: center;
     align-content: start;
     overflow: scroll;
     scroll-behavior: smooth;
     /* position: relative; */
 }

 #right-container {
     overflow: scroll;
     height: calc(80vh - 40px)
 }



 #headshots-container>* {
     margin: 5px;
 }

 #headshots-container>*:hover {
     cursor: pointer;
 }

 #headshot-image-container1 {
     /* background-position: top; */
     /* width: 500px;
    height: 300px; */
     background: url("../images/headshots/headshot1.jpg");
     background-position: center;
     background-size: cover;
     border-radius: 3px;
     width: 35vw;
     height: 182px;
     /* max-height: 160px; */
 }

 #headshot-image-container2 {
     background-position: top;
     background-image: url("../images/headshots/headshot2.jpg");
     background-size: cover;
     border-radius: 3px;
     width: 35vw;
     height: auto;
     height: 182px;
     /* max-height: 160px; */
 }


 #headshot-image-container3 {
     background-position: center;
     background-image: url("../images/headshots/headshot3.jpg");
     background-size: cover;
     background-position: center;
     border-radius: 3px;
     width: 35vw;
     height: auto;
     height: 182px;
     /* max-height: 160px; */
 }

 #headshot-image-container4 {
     background-position: top;
     background-image: url("../images/headshots/headshot4.jpg");
     background-size: cover;
     border-radius: 3px;
     width: 35vw;
     height: auto;
     height: 182px;
     /* max-height: 160px; */
 }

 #headshot-image-container5 {
     background-position: top;
     background-image: url("../images/headshots/headshot5.jpg");
     background-size: cover;
     border-radius: 3px;
     width: 35vw;
     height: auto;
     height: 182px;
     /* max-height: 160px; */
 }

 #headshot-image-container6 {
     background-position: top;
     background-image: url("../images/headshots/headshot6.jpg");
     background-size: cover;
     border-radius: 3px;
     width: 35vw;
     height: auto;
     height: 182px;
     /* max-height: 160px; */
 }

 #headshot-image-container7 {
     background-position: top;
     background-image: url("../images/headshots/headshot7.jpg");
     background-size: cover;
     border-radius: 3px;
     width: 35vw;
     height: auto;
     height: 182px;
     /* max-height: 160px; */
 }

 #headshot-image-container8 {
     background-position: top;
     background-image: url("../images/headshots/headshot8.jpg");
     background-size: cover;
     border-radius: 3px;
     width: 35vw;
     height: auto;
     height: 182px;
     /* max-height: 160px; */
 }

 #headshot-image-container9 {
     background-position: top;
     background-image: url("../images/headshots/headshot9.jpg");
     background-size: cover;
     border-radius: 3px;
     width: 35vw;
     height: auto;
     height: 182px;
     /* max-height: 160px; */
 }

 /* #headshot-image-container10 {
    background-position: top;
    background-image: url("../images/headshots/headshot10.jpg");
    background-size: cover;
    border-radius: 3px;
    width: 35vw;
    height: auto;
    height: 182px;
} */

 .social-links {
     display: none
 }


 /* fix for those super thin devices*/
 @media(max-width:330px) {
     #left-container {
         height: 30vh;
     }

     #right-container {
         height: 70vh;
     }
 }



 @media (min-width:600px) {

     .social-links {
         display: inherit;
         height: 40px;
     }

     #right-container {
         flex-flow: column wrap;
     }

     #headshots-text {
         height: 30px;
         width: 100%;
         text-align: center;
     }

     #headshots-container {
         height: calc(100% - 30px);
         display: grid;
         gap: 10px;
         grid-template-columns: repeat(auto-fit, 250px);
         justify-content: center;
     }

     #main-section {
         height: 100%;
         width: 100%;
         overflow: hidden;
     }

     /* #left-container {
         height: 20vh;
     } */

     footer {
         height: auto;
         display: flex;
         flex-flow: column wrap;
         /* justify-content: space-evenly; */
     }


     .social-links {
         height: 40px;
         /* justify-content: space-evenly; */
     }

     .social-links:hover {
         cursor: pointer;
     }

     #copyright {
         color: black;
     }



     .enlarge {
         position: absolute;
         /* width: 400px !important;
         height: 500px !important; */
         width: 50% !important;
         height: 100% !important;
         max-height: 70% !important;
         background-size: contain;
         background-repeat: none !important;
         left: 25%;
     }

     #headshots-container>* {
         border-radius: 15px;
         /* background-size: 100% auto; */
     }


     #headshot-image-container5 {
         background-position: center;
     }

     #headshots-container>* {
         width: 250px;
         height: 250px;
     }

 }


 @media (min-width: 992px) {


     /* #right-container {
        height: 75vh
    } */

     #headshots-container {
         grid-template-columns: repeat(auto-fit, 300px);
     }

     #headshots-container>* {
         /* background-size: 150px; */
         width: 300px;
         height: 300px;
     }

     .enlarge {
         top: 25%;
         width: 40% !important;
         height: 100% !important;
         max-height: 60% !important;
         /* width: 500px !important;
         height: 500px !important; */
         background-size: contain;
         background-repeat: none !important;
         left: 30%;
         /* left: 25%; */
         /* margin-left: auto;
         margin-right: auto; */
     }

     #right-container {
         align-items: center !important
     }

 }


 @media (min-width: 1200px) {


     .enlarge {
         width: 450px !important;
         height: 100% !important;
         max-height: 500px !important;
         left: 33%;
     }


     #headshots-container {
         grid-template-columns: repeat(auto-fit, 350px);
     }

     #headshots-container>* {
         width: 300px;
         height: 300px;
     }

 }