* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    width: 100%;
    /* viewport-fit: cover; */
    /* --ion-safe-area-top: env(safe-area-inset-top);
  --ion-safe-area-bottom: env(safe-area-inset-bottom); */
    position: relative;
}


#background-image {
    margin: 0;
    position: absolute;
    background: url('../../images/background/bg-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}


#main-section {
    display: flex;
    flex-flow: column wrap;
    height: 100vh;
    position: relative;
}


header {
    height: 150px;
    display: flex;
    flex-flow: column row;
    justify-content: space-between;
}


.title-major-container,
.hambmenu-container {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.title-major-container {
    justify-content: center;
}

.hambmenu-container {
    justify-content: flex-end;
}



#title-container {
    padding: 30px 10px;
    display: flex;
    flex-flow: column wrap;

}

#title-container #labor-union {
    padding-top: 10px;
}

#hamburguer-menu {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: flex-end;
    position: relative;
}

#hamburguer-menu .bar1,
.bar2,
.bar3 {
    display: block;
    padding: 3px;
    margin: 4px;
    border-radius: 3px;
    width: 50px;
    height: 3px;
    background-color: #e7e1e1;
    transition: transform 0.3s linear;
}


.transformToX1 {
    transform: rotate(45deg) translate(5px, 3px);
}

.transformToX2 {
    transform: rotate(-45deg) translate(7px, -6px);
}



#main-content {
    display: Flex;
    height: calc(100vh - 250px);
    flex-flow: column wrap;
    justify-content: flex-end;
    align-items: center
}

#headshots-jump-container {
    background-color: #111d11;
    width: 250px;
    height: 50px;
    border-radius: 10px;
    opacity: 1;
    visibility: visible;
    transition: visibility 0.3s linear, opacity 0.3s linear;
}



footer {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 100px;
    background-color: transparent;
    opacity: 1;
    visibility: visible;
    transition: visibility 0.3s linear, opacity 0.3s linear;
}


.footerTransition {
    visibility: hidden !important;
    opacity: 0 !important;
}


.social-links {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
    width: 40%;
    background: linear-gradient(bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    transition: width 0.5s linear;
}

/* .social-links>* {
    color: #FFFFFF;
} */

#copyright {
    padding: 10px 0px 0px 0px;
}



#lateral-navbar {
    height: 100vh;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.4);
    /* opacity: 50%; */
    position: absolute;
    z-index: 2;
    bottom: 0;
    right: 0;
    visibility: hidden;
    transition: visibility 0.3s ease-in-out;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly
}


.Lateral-nav-container,
.Lateral-links-container {
    height: 50vh;
    display: flex;
    flex-flow: wrap;
}

.Lateral-nav-container {
    align-items: center;
}

.Lateral-links-container {
    align-items: flex-end;
    padding: 10px 0px 15px 0px;
}

#lateral-menu-links {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.appearVisible {
    visibility: visible !important;
}

.w50 {
    width: 50%;
}

.noDisplay {
    display: none;
}