* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
    /* viewport-fit: cover; */
    /* --ion-safe-area-top: env(safe-area-inset-top);
  --ion-safe-area-bottom: env(safe-area-inset-bottom); */
    position: relative;
}


#background-image {
    margin: 0;
    position: absolute;
    background: url('../../images/background/bg-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}


#main-section {
    display: flex;
    flex-flow: column wrap;
}


header {
    height: 150px;
    display: flex;
    flex-flow: column row;
    justify-content: space-between;
}


.title-major-container,
.hambmenu-container {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.title-major-container {
    justify-content: center;
}

.hambmenu-container {
    justify-content: flex-end;
}



#title-container {
    padding: 30px 10px;
    display: flex;
    flex-flow: column wrap;

}

#title-container #labor-union {
    padding-top: 10px;
}

#hamburguer-menu {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: flex-end;
    width: 1vw;
}

#hamburguer-menu .bar1,
.bar2,
.bar3 {
    display: block;
    padding: 3px;
    margin: 4px;
    border-radius: 3px;
    width: 50px;
    height: 3px;
    background-color: #f5f1f1;
}

#main-content {
    display: Flex;
    height: calc(100vh - 250px);
    flex-flow: column wrap;
    justify-content: flex-end;
    align-items: center
}

#headshots-jump-container {
    background-color: #111d11;
    width: 250px;
    height: 50px;
    border-radius: 10px;
}



footer {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 100px;
    background-color: transparent;
}

#social-links {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
    width: 40%;
    background: linear-gradient(bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

#social-links>* {
    color: #FFFFFF;
}

#copyright {
    padding: 10px 0px 0px 0px;
}