/* * {
    outline: 1px solid red !important
} */

/* body {
    margin: 0;
    height: 100%;
    width: 100%;
    position: relative;
} */

#right-container {
    /* height: calc(85vh - 100px) */
    height: 60%
}

.title-major-container {
    justify-content: center;
}

#title-container {
    color: #CCC1C1
        /* color: #322b2b; */
        /* background-color: linear-gradient(#322b2b, #118322) !important */
}


.social-links {
    border-radius: 0px;
}


#hambmenu-container-navbar {
    display: none;
}


#lateral-menu-navbar ul a li {
    color: #ffffff
}

#background-image {
    background: url('../../images/background/bg-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    /* height: 100vh; */
    height: 100%;
    z-index: -1;
    visibility: visible;
    opacity: 1;
}


#labor-union {
    border: none;
    justify-content: flex-start;
}


.title-major-container,
.hambmenu-container {
    /* width: 50%; */
    display: flex;
    flex-flow: column wrap;
}

.title-major-container {
    /* justify-content: center; */
    width: 100%;
}

.hambmenu-container {
    justify-content: center;
    padding-right: 10px;
    align-items: flex-end;
}


#title-container {
    width: 100%;
}



#main-content {
    display: Flex;
    height: 100%;
    flex-flow: column wrap;
    justify-content: flex-end;
    align-items: center;
    transition: 1s ease in out;
}


#headshots-jump-container {
    z-index: 4;
    background-color: #111d11;
    width: 250px;
    height: 50px;
    border-radius: 10px;
    opacity: 1;
    transition: 0.3s ease-in-out;
}

.clicked {
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #180e0e !important;
    background-color: rgb(151, 151, 228) !important;
}

.headShotJumpTransition {
    opacity: -1 !important;
}

#desktop-landing-images {
    display: none;
}


footer {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: flex-start;
    /* position: fixed;
    bottom: 0px; */
    width: 100%;
    /* height: 100px; */
    padding-top: 15px;
    height: 25%;
    background-color: transparent;
    opacity: 1;
    visibility: visible;
    transition: visibility 0.3s linear, opacity 0.3s linear;
}

.Lateral-links-container {
    text-align: center;
    justify-content: center;
}


.social-links {
    display: none
}

@media(max-width:599px) and (orientation: landscape) {}





@media (min-width:600px) {

    .social-links {
        display: inherit;
        height: 40px;
    }

    /* #title-container #name {
        background-color: #6b6868;
        background-image: linear-gradient(45deg, #242020, #2ba93e) !important;
        background-size: 100%;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    } */

    #left-container {
        overflow: scroll;
    }

    #labor-union {
        display: none;
    }


    .social-links-tablet {
        display: none !important;
    }



    footer {
        /* position: fixed; */
        flex-flow: row wrap;
        justify-content: space-evenly;
        coloR: black;
    }

    .social-links {
        justify-content: center;
        align-items: center;
        flex-flow: row;
        height: 100%;
        width: 50%;
        background: none;
        display: inherit !important;
        display: flex;
        align-items: center !important;
    }

    /* .social-links>a i {
        font-size: 1.7em;
    } */

    #copyright {
        display: flex;
        align-items: center !important;
        justify-content: center !important;
        color: white !important;
        width: 50%;
    }

    #left-container {
        width: 40%;
        height: 100%;
        display: flex;
        flex-flow: column wrap;
        position: relative;
        justify-content: center;
        align-items: center;
    }

    .title-major-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #title-container {
        width: 100%;
        justify-content: center;
    }

    #background-image {
        /* visibility: hidden;
        opacity: 0; */
        /* background: linear-gradient(#000902, #4d935e); */
        transition: visibility 2s linear, opacity 2s linear;
        z-index: -3;
        opacity: 0.8;
    }


    #main-section {
        align-items: flex-end;
    }

    #right-container {
        background: url('../images/background/bg-image.jpg');
        background-size: cover;
        background-position: center;
        /* height: 100vh !important; */
        height: 100% !important;
        width: 50%;
        display: flex;
        flex-flow: column row;
        align-items: flex-end;
    }


    .social-links {
        display: none;
    }

    .social-links-tablet {
        height: 100px;
        display: initial;
        color: rgb(180, 174, 174);
        padding: 10px 0px;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
        position: absolute;
        bottom: 0;
    }

    .social-links-tablet a {
        text-decoration: none !important;
        color: rgb(180, 174, 174);
    }

    .social-links-tablet>* {
        padding: 0px 5px;
    }


    #main-content {
        display: none;
    }


    #navbar-tablet {
        border-top: 0.5px solid rgb(194, 188, 188);
        padding: 0;
        /* display: initial; */
        height: 300px;
        display: Flex;
        flex-flow: column;
        justify-content: space-evenly
    }


    #navbar-tablet li {
        border-bottom: 0.5px solid rgb(163, 159, 159);
        border-radius: 10px !important;
        color: black;
        list-style-type: none;
        padding: 10px;
        /* margin: 15px 0px; */
    }

    #name span {
        display: block;
    }
}



/* fix those super wide and short devices */

/* @media(min-width:600px) and (max-height:600px) {

    #name span {
        display: block;
    }

    #left-container {
        flex-flow: row !important;
    }

    #name {
        width: 50%;
    }


    #navbar-tablet {
        width: 50% !important;
        justify-content: center !important;
    }
} */

@media(min-width:600px) and (max-height:600px) {

    #name span {
        display: block;
    }

    /* #right-container {
        height: auto !important;
    } */

    #desktop-landing-images {
        align-items: center !important;
        /* width: 80% !important;
        background-repeat: no-repeat !important; */
    }

    #desktop-landing-images>* {
        width: 25% !important;
    }

    #name {
        width: 100%;
    }

    #left-container {
        flex-flow: column !important;
    }

    #navbar-tablet {
        width: 100% !important;
        justify-content: center !important;
    }
}


/* End of fix those super wide and short devices */




@media (min-width: 992px) {

    #name span {
        display: initial !important;
    }

    /* #main-section{
        justify-content:flex-start;
    } */

    .social-links,
    #copyright {
        width: 100%;
    }

    #navbar-tablet {
        border-top: none;
        height: auto;
        display: initial;
    }

    #navbar-tablet li {
        border-radius: 10px 10px 0px 0px !important;
        border-top: 0.5px solid rgb(194, 188, 188);
        border-right: 0.5px solid rgb(194, 188, 188);
        border-left: 0.5px solid rgb(194, 188, 188);
        border-bottom: none;
    }

    #left-container {
        /* height: 15vh !important; */
        height: 15% !important;
    }


    footer {
        position: inherit;
    }

    #social-links {
        width: 100%;
        justify-content: space-evenly !important;
    }

    #navbar-tablet {
        /* padding: 10px; */
        width: 100%;
        display: flex;
        flex-flow: row;
        justify-content: space-evenly;
        align-items: center;
    }

    /* #navbar-tablet li {
        margin: 0px 5px;
    } */

    /* #navbar-tablet:hover li {
        cursor: pointer !important;
    } */

    #main-section {
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

    #left-container {
        width: 100%;
        height: 98px;
        /* justify-content: initial; */
    }

    /* ^^ applied this horrible height 100px fix ^^ */

    #right-container {
        width: 100%;
        background: none;
        /* height: 75vh !important; */
        height: 75% !important;
        display: flex;
        align-items: center;
    }

    #desktop-landing-images {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    #desktop-landing-images img {
        width: 33%;
    }


    .navbar-tablet li:hover {
        cursor: pointer;
        color: #6b6868;
    }

    /* .social-links-tablet {
            width: 100%;
            position: absolute;
            right: 45vw;
            top: 0;
            height: 20px;
        } */

    .social-links-tablet {
        display: none;
    }

    footer {
        height: auto !important;
        display: inherit;
        position: fixed;
        bottom: 0;
        flex-flow: column wrap;
        justify-content: space-evenly;
        justify-content: flex-end;
        align-items: center;
        margin: 0 !important;
    }

    /* 
    #copyright {
        color: black !important;
        padding: 0px !important
    } */

    .social-links {
        height: 40px;
        display: initial;
        /* background: white; */
        border-radius: 10px 10px 0px 0px;
    }

    .social-links a i {
        display: initial;
        /* font-size: 2em; */
    }
}


@media(min-width:992px) and (max-height: 600px) {

    #title-container {
        background: white;
    }

    #name {
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    #desktop-landing-images img {
        width: 24% !important;
    }

    #left-container {
        flex-flow: row !important;
    }

    #right-container {
        overflow: hidden;
    }

    #navbar-tablet {
        width: 50% !important;
        justify-content: center !important;
    }

    #title-container {
        flex-flow: row wrap !important
    }
}


@media (min-width: 1200px) {

    #title-container {
        background: white;
    }


    /* #right-container{
        height:80vh !important
    } */

    #desktop-landing-images {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        background-repeat: no-repeat;
    }

    #desktop-landing-images img {
        width: 24%;
    }

    #resImage1200 {
        display: initial;
    }
}