* {
    box-sizing: border-box;
}

/* * {
    outline: 1px solid red !important
} */


footer {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 40px;
    background-color: transparent;
    opacity: 1;
    visibility: visible;
    transition: visibility 0.3s linear, opacity 0.3s linear;
}



#copyright {
    /* padding-top: 5px; */
    display: none;
}

#right-container {
    height: calc(80vh - 50px)
}


#myStoryContainer {
    height: 100% !important;
    padding: 10px;
    font-size: 16px;
    height: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    overflow: scroll;
}

#myStoryContainer #story-img-container {
    height: auto;
}

#myStoryContainer img {
    max-width: 250px;
    max-height: 100%;
    border-radius: 6px;
}

#myStoryContainer p {
    font-weight: 400;
    line-height: 2;
    height: auto;
    overflow: scroll;
    color: rgb(255, 255, 255);
    font-size: 17px;
}


#myStoryContainer p a {
    color: rgb(21, 171, 194)
}

#story-img-container {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

#story-img-container div {
    width: 100%;
    display: flex;
    justify-content: center;
}

#story-img-container div:hover {
    cursor: pointer;
}


#story-img-container h4 {
    background-color: rgb(238, 233, 233);
    padding: 5px;
    border-radius: 5px;
    width: max-content
}

.social-links {
    display: none
}







/* This small fix is just for shorter devices */
@media (max-height:820px) {}

@media (min-width:600px) {
    .social-links {
        display: inherit;
        height: 40px;
    }

    #story-text-container {
        width: 100%;
        padding: 20px;
    }

    #story-text-container div {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #story-text-container h4 {
        background-color: transparent;
    }

    body {
        overflow: scroll;
    }


    #right-container {
        height: 75%;
        align-items: center;
        overflow: scroll !important;
    }



    #myStoryContainer {
        flex-flow: column;
        justify-content: center;
        padding: 0px 10px;
        align-items: flex-start;
        position: relative;
        width: 100%;
        height: 100% !important;
        /* overflow: hidden; */
    }

    #story-img-container {
        height: 70% !important;
        display: flex;
        flex-flow: column;
        position: relative;
    }

    #story-img-container div h4 {
        text-align: center;
    }


    #myStoryContainer img {
        z-index: 100;
        /* max-width: 60%; */
        height: auto;
        border-radius: 12px 0px 0px 12px;
    }


    #story-text-container {
        background-color: white;
        border-radius: 12px;
        max-width: auto;
        display: Flex;
        flex-flow: column;
        align-items: flex-start;
        justify-content: flex-start;
        height: 30%;
        flex-grow: 1;
    }

    #story-text-container h4 {
        margin: 0px;
    }

    #myStoryContainer p {
        color: black;
        font-size: 20px;
        overflow-y: scroll;
        background-color: white;
        border-radius: 0px 12px 12px 0px;
        padding: 20px;
        max-width: 100%;
        height: 100%;
        padding: 0px;
        margin: 0px;
        line-height: 2.5;
    }

    /* #story-text-container,
    #story-img-container div {
        border: 1px solid rgb(210, 206, 206);
        padding: 10px;
        margin: 10px;
    } */



    footer {
        height: auto;
        /* background-color: white; */
        display: flex;
        flex-flow: column wrap;
        /* justify-content: space-evenly; */
    }

    /* #myStoryContainer #story-img-container {
        height: 70%;
    }

    #myStoryContainer #story-text-container {
        height: 29%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    } */

    #myStoryContainer #story-text-container p span {
        display: block;
    }

    /* #navbar-tablet {
        justify-content: space-around !important;
    } */

    .social-links {
        height: 40px;
        /* justify-content: space-evenly; */
    }

    #copyright {
        color: black;
    }

    /* #left-container {
        height: 20vh;
    } */

}


@media (min-width:600px) and (max-height:550px) {
    #myStoryContainer {
        flex-flow: row;
    }

    #story-img-container {
        height: 100% !important;
    }

    #story-img-container img {
        margin: 20px 0px 0px 0px;
    }
}


@media(min-width:992px) {

    #main-section {
        height: 100vh;
    }


    #story-img-container {
        height: 70% !important;
    }

    #myStoryContainer img {
        max-width: 300px;
    }





}




@media(min-width:1200px) {}