 /* * {
     outline: 1px solid red !important
 } */


 a {
     color: rgb(156, 156, 213)
 }

 #labor-union {
     width: 90%;
 }

 /* 
 #right-container object {
     height: 750px;
     width: 100%;
 }
 */


 #right-container {
     display: flex;
     justify-content: center;
 }


 #pdf-content {
     height: 100%;
     width: 90%;
     background-color: white;
     display: flex;
     align-self: center;
     flex-flow: column;
     align-items: center;
     font-size: 9px;
     padding: 20px 0px 40px 0px;
     overflow: scroll;
 }

 #pdf-header {
     width: 92%;
     height: auto;
     display: flex;
     justify-content: space-between !important;
     border-bottom: 1px solid black;
 }


 #left-header {
     flex: 4;
 }

 #right-header {
     flex: 1;
 }


 #title {
     font-size: larger;
     margin-top: 10px;
     font-weight: 600;
 }

 .headerText {
     text-decoration: underline;
 }

 .leftHeaderText {
     font-weight: 550
 }


 .type-of-work {
     font-size: 11px;
     margin-top: 10px;
     font-weight: 600;
 }

 #pdf-body {
     width: 92%;
     height: max-content;
     display: flex;
     flex-flow: column;
     justify-content: flex-start;
     border-bottom: 1px solid black;
     padding-bottom: 10px;
 }

 #left-body,
 #center-body,
 #right-body {
     display: flex;
     width: 100%;
     align-items: flex-start;
     /* justify-content: space-between; */
 }




 #pdf-footer {
     width: 92%;
     height: auto;
     display: flex;
     flex-flow: column;
     justify-content: space-between;
 }

 #pdf-footer div:nth-child(1) {
     display: flex;
 }

 .list-title {
     margin-left: 20px;
 }

 #pdf-footer div:nth-child(2) {
     display: flex;
     flex-flow: column;
     /* justify-content: space-between; */
     align-items: flex-start;
 }

 #pdf-footer div:nth-child(2) div:nth-child(2) {
     display: flex;
     flex-flow: row;
     width: 100%;
 }

 #pdf-footer div:nth-child(2) div:nth-child(2) p:nth-child(1) {
     flex: 2;
 }


 #pdf-footer div:nth-child(2) div:nth-child(2) p:nth-child(2) {
     flex: 2;
 }

 #pdf-footer div:nth-child(2) div:nth-child(2) p:nth-child(3) {
     flex: 1;
 }


 #training-div {
     display: flex;
     flex-flow: column;
     width: 100%;
 }

 #skills-div {
     display: flex;
     flex-flow: column;
     text-align: left;
     align-self: flex-start;
 }

 .skills-left {
     align-self: flex-start;
 }



 /* testing */

 #left-body div,
 #center-body div,
 #right-body div {
     flex: 1;
 }


 #left-body div:nth-child(1),
 #center-body div:nth-child(1),
 #right-body div:nth-child(1) {
     flex: 2;
 }

 #left-body div:nth-child(2),
 #center-body div:nth-child(2),
 #right-body div:nth-child(2) {
     flex: 2;
 }


 #pdf-footer:nth-child(2) div {
     width: 100%;
     flex: 2;
 }

 #pdf-footer:nth-child(2) p:nth-child(1) {
     flex: 2;
 }

 #pdf-footer:nth-child(2) p:nth-child(2) {
     flex: 1;
 }


 #left-body {
     height: 15%;
 }

 #center-body {
     height: 25%;
 }

 #right-body {
     height: 55%;
 }

 #right-body div,
 #center-body div {
     height: 100%;
 }

 #right-body div p,
 #center-body div p {
     height: 13%;
 }



 .noShow {
     visibility: hidden;
 }



 .social-links {
     display: none;
 }

 @media (min-width: 600px) {

     #pdf-header {
         align-content: space-between;
     }

     #labor-union {
         display: inherit;
         position: absolute;
         width: 50%;
         bottom: -30px;
         margin: 5px 0px;
         font-size: 18px;
     }

     footer {
         display: flex;
     }

     .social-links {
         display: inherit;
         height: 40px;
     }

     .type-of-work {
         font-size: 15px;
         margin-top: 10px;
         font-weight: 600;
     }

     #title {
         font-size: 16px;
     }

     #pdf-content {
         font-size: 14px;
     }
 }

 @media(min-width:992px) {}