body {
  /* padding: 50px; */
  font: 14px;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #00B7FF;
}

.white-bg {
  background-color: #FFFFFF;
}

.white-color {
  color: #FFFFFF
}

.white-darker {
  color: #f5f1f1
}

.bold-text {
  font-weight: bold !important;
}

.font22 {
  font-size: 22px;
}

.italic {
  font-style: italic;
}

.text-center {
  text-align: center;
}