/* current bugs :  firefox on mobiles navbar is glitchy */


body {
  font: 16px;
  font-family: 'Montserrat', sans-serif;
}

.isSelected {
  background-color: rgb(95, 153, 95, 0.7) !important;
  border: 1px 0px 1px 0px solid green !important;
  border-radius: 10px
}

#left-container {
  position: relative;
}

#labor-union {
  position: absolute;
  bottom: 5%;
  color: white;
  text-align: center;
  width: 60%;
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  font-size: 20px;
  border-top: 1px solid #7e7373;
  border-right: 1px solid #7e7373;
  border-bottom: 1px solid #7e7373;
  border-radius: 0px 6px 6px 0px;
  z-index: 11;
  padding: 0px 10px;
  transition: 1s ease-in-out;
}

a {
  text-decoration: none;
  z-index: 10;
}

.white-bg {
  background-color: #FFFFFF;
}

.white-color {
  color: #FFFFFF
}

.white-darker {
  color: #f5f1f1
}

.bold-text {
  font-weight: bold !important;
}

.font22 {
  font-size: 22px;
}

.italic {
  font-style: italic;
}

.text-center {
  text-align: center;
}

.noDisplay {
  display: none;
}

.zindex3 {
  z-index: 3;
}

p {
  /* color: #666 */
  color: #000
}

#name {
  transition: 0.3s ease-in-out;
  font-size: 1.5rem;
  color: white;
}

#name:hover {
  cursor: pointer;
  transform: scale(1.05);
}

a {
  text-decoration: none;
}


#lateral-menu-navbar ul a {
  text-decoration: none;
  color: white;
  width: 100%;
}

#lateral-menu-navbar {
  align-content: center
}



/* ^^^^^^^^^^ this was styles ^^^^^^^^^^^^^^^^^ */


* {
  box-sizing: border-box;
}

.title-major-container {
  justify-content: flex-start;
}

#right-container {
  height: 70vh;

}

body {
  overflow: hidden;
}


body {
  margin: 0;
  height: 100vh;
  width: 100%;
  /* viewport-fit: cover; */
  /* --ion-safe-area-top: env(safe-area-inset-top);
  --ion-safe-area-bottom: env(safe-area-inset-bottom); */
  position: relative;
}




#background-image {
  margin: 0;
  position: absolute;
  background: linear-gradient(#000902, #4d935e);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  width: 100vw;
  height: 100vh;
  visibility: visible;
  opacity: 1;
}






#main-section {
  display: flex;
  flex-flow: column wrap;
  height: 100%;
  position: relative;
  /* overflow: hidden; */
}


#right-container {
  height: 80%;
  width: 100%;
}

#left-container {
  width: 100%;
  height: 15%;
}





header {
  display: flex;
  flex-flow: column row;
  justify-content: space-between;
  /* background-color: rgba(52, 134, 79, 0.4); */
}

/* 
#view-title {
  height: 10%;
  width: 100%;
  text-align: center;
  color: #e7e0e0;
  margin: 0px !important;
  background-color: #4d935e;
  border-bottom: 2px solid black;
} */

.title-major-container {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  overflow: hidden;
  /* justify-content: center; */
}

#labor-union {
  position: absolute;
}


#title-container {
  padding: 30px 10px;
  display: flex;
  flex-flow: column wrap;
  white-space: nowrap;
  color: #322b2b;
}

#title-container #labor-union {
  padding-top: 10px;
}

.hambmenu-container {
  width: 20%;
  display: flex;
  flex-wrap: wrap;
  z-index: 100;
}


.hambmenu-container {
  justify-content: flex-end;
  padding-right: 10px;
}


#hamburguer-menu {
  z-index: 10;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: flex-end;
  position: relative;
}

#hamburguer-menu .bar1,
.bar2,
.bar3 {
  display: block;
  padding: 2px;
  margin: 4px;
  border-radius: 3px;
  width: 40px;
  height: 2.5px;
  background-color: #e7e1e1;
  transition: transform 0.3s linear;
}



.transformToX1 {
  transform: rotate(45deg) translate(5px, 1px);
}

.transformToX2 {
  transform: rotate(-45deg) translate(7px, -5px);
}



/* hamb menu for lat navbar */



/*   */


#desktop-landing-images {
  display: none;
}


footer {
  display: none;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* position: fixed;
  bottom: 0px; */
  width: 100%;
  height: 100px;
  background-color: transparent;
  opacity: 1;
  visibility: visible;
  transition: visibility 1s linear, opacity 1s linear;
}


.footerTransition {
  visibility: hidden !important;
  opacity: 0 !important;
}


.social-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  width: 50%;
  /* background: linear-gradient(bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)); */
  background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5));
  transition: width 0.5s linear;
  border-radius: 6px;
}

.social-links>a i {
  color: #eae5e5;
  padding: 0px 5px;
  display: inline;
}

.social-links>a {
  transition: 0.1s ease-in-out;
}

.social-links>a:hover {
  transform: rotate(45deg)
}



#copyright {
  /* padding: 10px 0px 0px 0px; */
  text-align: center;
}



#lateral-navbar {
  height: 100vh;
  width: 70%;
  background-color: rgba(0, 0, 0, 0.75);
  /* opacity: 50%; */
  position: absolute;
  z-index: 20;
  bottom: 0;
  right: 0;
  visibility: hidden;
  transition: visibility 0.3s ease-in;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between
}



.Lateral-nav-container {
  height: 70vh;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}


.Lateral-links-container {
  height: 15%;
  display: flex;
  flex-flow: wrap;
}


.Lateral-links-container {
  align-items: center;
  padding: 10px 0px 15px 0px;
}

#lateral-menu-links {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.social-links i {
  color: #eae5e5
}

#copyright {
  padding: 5px 10px;
}

#emptyDiv {
  width: 100%;
  height: 25%
    /* padding-right: 10px; */
}

#lateral-menu-navbar {
  height: 60%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

#lateral-menu-navbar ul {
  /* margin: 0px 30px; */
  margin-bottom: 0;
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

#lateral-menu-navbar ul li {
  text-align: left;
  cursor: pointer;
  padding: 20px 0px;
  width: 100%;
  /* transition: color 0.3s ease-in-out; */
}


.appearVisible {
  visibility: visible !important;
}

.w50 {
  width: 60%;
}

.noDisplay {
  display: none;
}

.noVisible {
  visibility: none;
}


.lateral-headshots-link {
  /* background: linear-gradient(bottom, rgba(28, 2, 2, 0), rgb(59, 116, 60, 1)); */
  background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0), rgb(136, 175, 126, 0.7));
  border-radius: 5px;
}




@media(max-width:599px) and (orientation: landscape) {}


/* fix those super wide and short devices */

@media(min-width:600px) and (max-height:700px) {

  #name span {
    display: block;
  }

  #name span {
    padding-right: 5px;
  }

  #title-container {
    justify-content: flex-start !important;
  }


  #name {
    width: 30%;
    display: block;
    justify-content: center;
    align-items: center;
  }

  #left-container {
    flex-flow: row !important;
  }

  #navbar-tablet {
    width: 70% !important;
    justify-content: center !important;
  }

  #title-container {
    flex-flow: row wrap !important
  }
}

@media (min-width:600px) {

  #title-container {
    white-space: wrap;
  }

  #title-container #name {
    background-color: #6b6868;
    background-image: linear-gradient(45deg, #060606 0%, #1a1e1a 25%, #255425 50%, #1d7b1d 75%, #0cbf27 100%) !important;
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
  }



  /* Will change once i can fix*/
  body {
    padding: 20px 20px 20px 20px;
    justify-content: center !important;
  }

  #left-container {
    width: 100%;
    height: 15vh;
    display: flex;
    flex-flow: column wrap;
    position: relative;
    justify-content: center;
    /* justify-content: space-between */
  }

  #right-container {
    background: none;
    background-size: cover;
    background-position: center;
    height: calc(75%) !important;
    width: 100%;
    display: flex;
    flex-flow: column row;
    align-items: flex-start;
  }


  header {
    width: 100%;
    text-align: center;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    order: -1
  }


  #labor-union {
    font-size: 22px;
    color: black;
    bottom: 10%;
    position: initial;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-self: center;
    border-right: none;
    border-radius: 6px;
    background: radial-gradient(circle at center, rgba(88, 219, 88, 0.1) 0, rgba(77, 118, 77, 0.1), rgba(245, 245, 245, 0.1) 100%);
    border: none;
    display: none;
  }

  /*
  #right-container {
    overflow: hidden;
  } */

  #copyright {
    display: initial !important;
    /* color: black !important; */
    color: rgb(219, 213, 213) !important;
    font-size: 14px;
    padding: 0px
  }


  .title-major-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* height: 100%; */
  }

  #title-container {
    padding: 30px 10px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 100%;
    /* height: 100%; */
  }

  #title-container #labor-union {
    padding-top: 10px;
  }


  .social-links-tablet:hover {
    cursor: pointer !important;
  }

  #left-container header {
    justify-content: flex-start;
  }


  #main-section {
    height: 100%;
    width: 100%;
    /* background: radial-gradient(white 0%, white 95%, #4d935e 100%); */
    background: white !important;
    transition: width 0.5s ease-in;
    flex-flow: column wrap;
    /* box-shadow: 0px 0px 25px 25px rgba(55, 54, 51, 1); */
    /* justify-content: space-evenly; */
    /* justify-content: space-around; */
    /* align-items: flex-end; */
    /* overflow: hidden; */
  }

  #background-image {
    /* visibility: hidden;
    opacity: 0; */
    /* background-color: #ad9e9e; */
    background: linear-gradient(#000902, #4d935e) !important;
    /* background: radial-gradient(#000902, #4d935e) !important; */
    transition: visibility 2s linear, opacity 2s linear;
    z-index: -3;
    filter: blur(2.5px);
    opacity: 0.8;
    /* display: none; */
  }

  body {
    background-color: white;
    /* background-color: #dad1d1; */
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
  }

  #lateral-navbar {
    display: none;
  }

  .hambmenu-container {
    display: none !important;
  }

  #headshots-jump-container {
    display: none;
  }


  footer {
    display: flex;
    z-index: 10;
    color: black;
    display: initial;
    position: fixed;
    bottom: 0px !important;
    justify-content: flex-end;
    padding-bottom: 2px;
    height: auto;
    width: 100%;
  }


  .social-links {
    width: 100%;
    height: 100%;
    display: flex;
    background: none;
    justify-content: space-evenly !important;
    /* padding: 0px 20% 0px 20%; */
  }

  .social-links a i {
    color: #CCC1C1 !important;
  }




  #navbar-tablet {
    width: 100%;
    padding: 0;
    display: initial;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    /* border-top: 0.5px solid rgb(194, 188, 188); */
    /* border-bottom: 0.5px solid rgb(194, 188, 188); */
    /* line-height: 0.5em; */
  }

  #navbar-tablet {
    display: Flex;
    flex-direction: row;
    justify-content: space-evenly !important;
    align-content: space-between;
  }

  #navbar-tablet::before,
  #navbar-tablet::after {
    content: "";
    flex: 1 1;
    border-bottom: 0.5px solid rgb(194, 188, 188);
    /* margin: auto; */
  }


  #navbar-tablet li {
    border-radius: 10px 10px 0px 0px;
    border-top: 0.5px solid rgb(194, 188, 188);
    border-right: 0.5px solid rgb(194, 188, 188);
    border-left: 0.5px solid rgb(194, 188, 188);

    color: black;
    list-style-type: none;
    padding: 10px;
    /* margin: 15px 0px; */
    transition: 0.3s ease-in-out;
  }

  #navbar-tablet a {
    overflow: hidden;
    margin: 0px 5px 0px 5px;
    /* width: max-content !important */
  }

  #navbar-tablet a li:hover {
    cursor: pointer;
    /* border-color: #6b6868; */
    color: #6b6868;
    transform: scale(1.05);
    overflow: hidden
  }



  /* #navbar-tablet a li {
    color: white !important;
  } */

  /* #left-container header div div {
    color: black;
  } */

  #title-container {
    padding: 0px !important;
  }
}


/* Apply a general fix for incase someone is using a super side low height device */



@media (min-width: 992px) {


  #title-container,
  #title-major-container {
    padding: 0px !important;
  }

  #title-container {
    /* margin-top: 20px; */
    width: 100%;
  }

  .social-links {
    color: #CCC1C1 !important;
    width: 100%;
    /* justify-content: space-evenly !important; */
    justify-content: space-evenly !important;
    padding: 0px 20% 0px 20%;
  }

  #copyright {
    color: white;
    /* text-align: left;
    padding-left: 40px; */
  }

  #copyright {
    /* background-color: white; */
    color: #e6e6e6 !important;
    /* padding: 0px !important */
  }

  .social-links a i {
    color: #CCC1C1 !important;
  }

  body {
    justify-content: flex-start;
  }

  #navbar-tablet {
    /* padding: 10px; */
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
  }

  /* #navbar-tablet a {
    width: 120px;
  } */

  #main-section {
    height: 100%;
    width: 100%;
    flex-flow: column wrap;
    /* justify-content: space-evenly; */
    scroll-behavior: smooth;
    overflow: scroll;
  }


  #left-container {
    width: 100%;
    /* height: 20vh; */
  }


  #right-container {
    width: 100%;
    background: none;
    /* height: 70vh; */
    display: flex;
    align-items: center;
  }

  #desktop-landing-images {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  #desktop-landing-images img {
    width: 33%;
  }


  .navbar-tablet li:hover {
    cursor: pointer;
    color: #6b6868;
  }


  footer {
    /* display: none; */
    position: fixed;
  }

}




@media (min-width: 1200px) {





  #main-section {
    width: 100%;
  }

  footer {
    height: auto;
  }


  #left-container {
    height: 15vh !important
  }

  #right-container {
    height: 75vh !important;
  }

  #title-container {
    padding: 0px !important;
  }

  #desktop-landing-images {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  #desktop-landing-images img {
    width: 24%;
  }

  #resImage1200 {
    display: initial;
  }


  #navbar-tablet a {
    margin: 0px 20px;

  }



}